.modalOverlay {
  display: flex;
  width: 100%;
  height: calc(100% + 270px);
  position: absolute;
  top: -119px;
  left: 0;
  justify-content: center;
  align-items: flex-start;
  background-color: 0, 0, 0, 0.6;
  visibility: hidden;
  transition: visibility, 400ms linear;
}

.modalOverlay:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #E5E5E5;
  opacity: 0.5;
  align-self: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 920px) {
  .modalOverlay {
    height: calc(100% + 270px);}
}

@media screen and (max-width: 770px) {
  .modalOverlay {
    height: calc(100% + 220px);}
}

@media screen and (max-width: 610px) {
  .modalOverlay {
    height: calc(100% + 170px);}
}

@media screen and (max-width: 610px) {
  .modalOverlay {
    top: -84px;}
}

.modalOverlay_opened {
  display: flex;
  opacity: 1;
  z-index: 2;
  visibility: visible;
}
