@import url(../../vendor/fonts.css);

.catalog__section {
  max-width: 1140px;
  padding: 0 20px 0px 20px;
  display: flex;
  flex-direction: column;
  /*justify-content: flex-start;
  align-items: flex-start;*/
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}

.catalog__text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgb(0, 0, 0);
  margin: 0;
}

.catalog__container {
  padding-left: 0px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.catalog__button {
  width: 320px;
  height: 40px;
  color: rgb(255, 255, 255);
  background: #325c27;
  border-radius: 3px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  flex-shrink: 0;
  margin-top: 100px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  align-self: center;
	background: linear-gradient(63.18deg, #81c75b 0%, #d3f35c 100%);
}

.catalog__button:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0px 0px 16px 8px rgba(142, 249, 158, 0.25), 0px 0px 8px 8px rgba(213, 249, 172, 0.25);
	filter: drop-shadow(0px 4px 32px rgba(217, 231, 128, 0.5));
}

/*.catalog__container li {
  padding-bottom: 50px;
  border-top: 1px solid #E8E8E8;
  margin: 0;
}

.catalog__container li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}*/

/*@media screen and (max-width: 680px) {
  .catalog__section {
    max-width: calc(100vw - 80px);
    margin: 0;
  }
}*/

@media screen and (max-width: 380px) {
  .catalog__section {
    /*max-width: calc(100vw - 30px);*/
    padding: 0 10px 0 10px;
  }
}

@media screen and (max-width: 400px) {
  .catalog__button {
    width: 280px;
  }
}

