@import url(../../vendor/fonts.css);

.header {
  background-color: #ffffff;
  position: relative;
  /*display: flex;
  flex-direction: column;*/
}

.header__content {
  max-width: 1140px;
  padding: 20px 70px 0px 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  height: 100px;
}

.header__underline {
  background-color: rgb(202 189 170);
  height: 7px;
  display: flex;
  max-width: 1140px;
}

/*@media screen and (max-width: 770px) {
  .header__content {
    padding: 20px 30px 20px 30px;
  }
}*/

.header__logo {
  width: 80px;
  height: 60px;
}

.header__leaf {
  width: 25px;
  height: 30px;
  opacity: 0;
}

.header__logo:hover {
  opacity: 0.6;
  cursor: pointer;
  transform: rotate(360deg);
  transition: 1s;
}

.header__right-block {
   justify-items: center;
   display: flex;
   align-items: center;
   gap: 20px;
}

.header__right-block-login {
  justify-items: center;
  display: flex;
  align-items: center;
}

.header__left-block-login {
 justify-items: center;
 display: flex;
 align-items: center;
}

.header__first-link {
  margin-right: 80px;
}

.header__logo-block {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  gap: 5px;
  padding-top: 20px;
  align-items: center;
}

.header__logo-block-main {
  font-weight: 900;
}

.header__title {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: inherit;
  font-size: 18px;
  line-height: 22px;
  color: rgb(22, 15, 78);
}

.header__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.header__link-font {
  font-weight: 500;
}

.header__link-text {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 40px;
  color: rgb(22, 15, 78);
  margin: 0;
}

/*.header__link p:hover {
  opacity: 0.4;
  cursor: pointer;
  transition: 1s;
  background-color: rgb(97, 87, 73);
  border-radius: 0px 0px 35px 35px;
  color: white;
}*/

.header__link:hover .header__leaf {
  opacity: 0.8;
  cursor: pointer;
  transition: 1.5s;
}

.header__logo-inactive:hover {
  opacity: 0.3;
  cursor: pointer;
  transition: 0.6s;
}

.header__link:hover .header__link-text {
  opacity: 0.4;
  cursor: pointer;
  transition: 1s;
  background-color: rgb(97, 87, 73);
  border-radius: 0px 0px 35px 35px;
  color: white;
}

.header__link-text:first-child {
  margin-right: 15px;
  padding-right: 10px;
  padding-left: 10px;
}

.header__link-text:last-child {
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (max-width: 520px) {
  .header__link:first-child {
    padding-right: 14px;
  }
}

@media screen and (max-width: 895px) {
  .header__logo-block {
    display: flex;
    flex-direction: column;
    min-width: 160px;
  }
}

@media screen and (max-width: 895px) {
  .header__right-block {
    gap: 0px;
  }
}

@media screen and (max-width: 895px) {
  .header__content {
    height: 100px;
    align-items: flex-end;
    padding-bottom: 10px;
    justify-content: center;
  }
}

@media screen and (max-width: 895px) {
  .header__link-text {
    line-height: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 770px) {
  .header__content {
    padding: 50px 50px 10px 50px;
  }
}

@media screen and (max-width: 650px) {
  .header__content {
    padding: 40px 30px 10px 30px;
  }
}

@media screen and (max-width: 620px) {
  .header__content {
    display: flex;
    flex-direction: column;
    height: 140px;
    align-items: center;
  }
}

@media screen and (max-width: 520px) {
  .header__content {
    padding: 20px 40px 20px 40px;
  }
}

@media screen and (max-width: 340px) {
  .header__content {
    padding: 20px 10px 20px 10px;
  }
}

@media screen and (max-width: 700px) {
  .header__link-text:first-child {
    width: 100px;
  }
}

@media screen and (max-width: 720px) {
  .header__first-link {
    margin-right: 50px;
  }
}

@media screen and (max-width: 720px) {
  .header__first-link {
    margin-right: 25px;
  }
}

@media screen and (max-width: 620px) {
  .header__logo-block {
    flex-direction: row;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 620px) {
  .header__first-link {
    margin-right: 0px;
  }
}

@media screen and (max-width: 620px) {
  .header__link:first-child {
    padding-right: 0;
  }
}

@media screen and (max-width: 420px) {
  .header__link-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 420px) {
  .header__link-text:last-child {
    padding-right: 10px;
    padding-left: 10px;
  }
}