@import url(../../vendor/fonts.css);

.userPlantCard__card {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  position: inherit;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 15px 15px;
  align-items: center;
  /*max-width: 300px;*/
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 20%;
  max-width: 500px;
  min-width: 300px;
  background-color: #f6f6e9;
  border-radius: 20px;
  gap: 30px;
  margin: 0 70px 0 0;
  position: relative;
}

@media screen and (max-width: 540px) {
  .userPlantCard__card {
    flex-direction: column;
    margin: 0;
    min-width: 270px;
  }
}

/*@media screen and (max-width: 1040px) {
  .catalogCard__card {
    max-width: 450px;
    min-width: 250px;
  }
}*/

.userPlantCard__title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 14px 0;
  text-align: start;
  /*align-self: flex-start;*/
} 

.userPlantCard__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: inherit;
  padding: 0 10px;
  background-color: white;
  border-radius: 10px;
  height: 130px;
  position: relative;
}

.userPlantCard__text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2f1212;
  margin: 0;
  padding-bottom: 10px;
}

.userPlantCard__subtitle {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #250606;
  margin: 0;
  padding-bottom: 10px;
}

.userPlantCard__image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.userPlantCard__icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: 0.7;
}

.userPlantCard__icon:hover {
  opacity: 0.3;
  cursor: pointer;
  height: 35px;
  width: 35px;
  box-shadow: #f6f6e9;
  transition: 0.6s;
}

@media screen and (max-width: 540px) {
  .userPlantCard__image {
    width: 240px;
    height: 240px;
  }
}

.userPlantCard__icon-container {
  height: 130px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: white;
  border-radius: 10px;
  width: 60px;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 540px) {
  .userPlantCard__icon-container {
    flex-direction: row;
  }
}

.userPlantCard__link {
  color: rgb(32, 31, 31);
  text-decoration-line: underline;
}

.userPlantCard__link:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: 0.6s;
}
