@import url(../../vendor/fonts.css);

.pageNotFound {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageNotFound__title {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 140px;
  line-height: 120px;
  text-align: center;
  margin: 0;
  padding-top: 140px;
}

.pageNotFound__logo {
  margin-top: 100px;
  width: 160px;
  height: 130px;
}

.pageNotFound__logo:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: 1s;
  transform: rotate(360deg);
}

.pageNotFound__text {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 26px;
  line-height: 19px;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

.pageNotFound__link {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin: 0;
  text-decoration: none;
  padding-top: 110px;
  color: rgb(65, 36, 123);
}

.pageNotFound__link:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: 0.6s;
}

@media screen and (max-width: 770px) {
  .pageNotFound__title {
    padding-top: 120px;
  }
}

@media screen and (max-width: 550px) {
  .pageNotFound__title {
    font-size: 100px;
    line-height: 100px;
    padding-top: 80px;
  }
}

@media screen and (max-width: 550px) {
  .pageNotFound__text {
    font-size: 16px;
    line-height: 17px;
    font-weight: 500;
  }
}

@media screen and (max-width: 550px) {
  .pageNotFound__link {
    padding-top: 40px;
  }
}